p {
    font-family: 'Arial';
}

.film__title {
    display: flex;
    justify-content: center;
    color: white;
}

.film__video {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.film__video-setting {
    width: 1000;
}

.film__info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 54px;
    margin-top: 3%;
}

.film__info__title {
    margin-bottom: 1%;
    color: grey;
}

.first-info {
    margin: 0;
    color: grey;
}

.second-info {
    width: 75%;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .film__info {
        margin-left: 0;
    }

    .film__video-setting {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 990px) {
    .second-info {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .film__title h2 {
        font-size: 25px;
    }
}