a:focus {
    outline:0;
}

button:focus {
    outline: 0;
}

#video_controls_bar { 
    background: #000; 
    padding: 10px; 
    color: rgb(36, 183, 219); 
    font-family: 'Arial';
    width: 90%;
}

#playpausebtn {
	background-image: url('../assets/img/btn-pause.svg');
	border: none;
	width: 42px;
	height: 44px;
	cursor: pointer;
    opacity: 0.7;
    background-color: rgba(0,0,0,0);
}

#playpausebtn:hover { 
    opacity: 1; 
}

.play {
    background-image: url('../assets/img/btn-pause.svg');
    background-repeat: no-repeat;
}

.pause {
    background-image: url('../assets/img/btn-play.svg') !important;
    background-repeat: no-repeat;
}

#mutebtn {
    background-image: url('../assets/img/mute.svg');
	border: none;
	width: 32px;
	height: 34px;
	cursor: pointer;
    opacity: 0.7;
    background-color: rgba(0,0,0,0);
    padding-top: 7px;
    margin-left: 10px;
}

#mutebtn:hover { 
    opacity: 1; 
}

.mute {
    background-image: url('../assets/img/mute.svg');
    background-repeat: no-repeat;
}

.unmute {
    background-image: url('../assets/img/unmute.svg') !important;
    background-repeat: no-repeat;
}

#fullscreenbtn {
    background-image: url('../assets/img/fullscreen.svg');
	border: none;
	width: 42px;
	height: 44px;
	cursor: pointer;
    opacity: 0.7;
    background-color: rgba(0,0,0,0);
    margin-left: 10px;
    padding-top: 4px;
}

input#seekslider { 
    width: 180px; 

}
input#volumeslider { 
    width: 80px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: rgb(255, 255, 255);
	border: rgb(36, 183, 219) 1px solid;
    height: 4px;
    cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #FFF;
    height: 15px;
    width: 15px;
	border-radius: 100%;
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #video_controls_bar {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    input#seekslider {
        width: 150px;
    }

    input#volumeslider {
        width: 70px;
    }
}

@media screen and (max-width: 750px) {
    input#seekslider {
        margin-right: 5px;
    }

    #video_controls_bar {
        padding: 0;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .display-mobile {
        display: none;
    }

    #mutebtn {
        width: 28px;
        height: 29px;
        padding: 0;
    }

    #fullscreenbtn {
        width: 39px;
        height: 42px;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    input#seekslider {
        width: 120px;
    }
}